<div class="hero-single">
	<div class="wrapper">
		<div class="container">
        <div id="ajax-content"></div>
			<h3>Find what you need!</h3>
			<p class="sub-title">Discover top rated hotels, shops and restaurants around the world</p>

			<form class="poi-search">

				<div class="row no-gutters">
					<div class="col-lg-4">
						<div class="form-group">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="What are you looking for..." id="what">
								<div class="input-group-append">
									<span class="input-group-text border-right-0 border">
										<i class="fas fa-search"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="form-group">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Where" id="where">
								<div class="input-group-append">
									<span class="input-group-text border-right-0 border">
										<i class="fas fa-map-marker-alt"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="form-group">
							<select name="cars" class="form-control" id="categories">
								<option selected hidden disabled>All Categories</option>
								<option>City</option>
								<option>Town</option>
								<option>Pub</option>
								<option>Restaurant</option>
								<option>Hotel</option>
							</select>
						</div>
					</div>

					<div class="col-lg-2">
						<button id="submit-search" type="submit" class="btn btn-theme btn-block">Search</button>
					</div>
				</div>
			</form>

			<div class="counter mt-3">
				<p class="test">
					<span class="bold">256,020</span>
					Locations |
					<span class="bold">150,543</span>
					Active users</p>
			</div>
		</div>
	</div>
</div>
