<div class="call_section image_bg">
	<div class="wrapper">
		<div class="container margin_80_55">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>How it Works</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box_how wow animated" style="visibility: visible;">
						<i class="fas fa-search fa-2x"></i>
						<h3>Search Locations</h3>
						<p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
						<span></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box_how">
						<i class="fas fa-info-circle fa-2x"></i>
						<h3>View Location Info</h3>
						<p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
						<span></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box_how">
						<i class="fas fa-thumbs-up fa-2x"></i>
						<h3>Book, Reach or Call</h3>
						<p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center"><a href="{{ url_for('auth.register') }}" class="btn_1 blue rounded">Register Now</a></p>
		</div>
	</div>
	<!-- /wrapper -->
</div>