<section class="popular">
	<div class="container-fluid">
		<h2 class="text-center">Popular listings</h2>
		<div class="container">
			<div class="row mx-auto my-auto">
				<div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item py-5 active">
							<div class="row">
								<div class="col-sm-4">
									<div class="carousel-card">
										<img src="{{ PUBLIC_PATH }}/images/location_1.jpg" alt="location_1">
										<div class="carousel-body">
											<h3>Da Alfredo</h3>
											<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="carousel-card center">
										<img src="{{ PUBLIC_PATH }}/images/location_1.jpg" alt="location_1">
										<div class="carousel-body">
											<h3>Da Alfredo</h3>
											<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="carousel-card">
										<img src="{{ PUBLIC_PATH }}/images/location_1.jpg" alt="location_1">
										<div class="carousel-body">
											<h3>Da Alfredo</h3>
											<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{# <div class="carousel-item py-5">
							<div class="row">
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item py-5">
							<div class="row">
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item py-5">
							<div class="row">
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Card</h4>
											<p class="card-text">Some make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Button</a>
										</div>
									</div>
								</div>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>